body {
  background: linear-gradient(30deg, #272424f1, #201f1ff1);
  color: rgba(68, 68, 68, 0.945);
}

header {
  position: static;
}

#side-drawer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#side-drawer ul {
  padding: 4rem 1rem;
}

main {
  /* Eliminate all margin, padding, etc just in case */
  padding: 0;
  margin: 0;
  left: 0;
}

/* Grid container */
main ul {
  width: 75%;
  margin: 0 auto 3rem auto;
  display: grid;
  grid-auto-rows: 15rem;
  gap: 1rem;

  /* To make the grid responsive and easy. */
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
}

/* To space the selected columns to a span of 2 columns (whole line in this case) */
li:nth-of-type(3) {
  grid-column: 1 / span 2;
}

li:nth-of-type(6) {
  grid-column: 1 / span 2;
}

li:nth-of-type(9) {
  grid-column: 1 / span 2;
}

/* Flex container */
main li {
  display: flex;
  background-color: white;
  border-radius: 6px;
  overflow: hidden;
}

main li img {
  width: 18.75rem;
  height: 17.5rem;
  object-fit: cover;
  transition: transform 5s ease-out;
}

li img:hover {
  transform: scale(110%);
}

.item-content {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  justify-content: space-between;
  flex: auto;
}

.actions {
  text-align: right;
  display: block;
}

.actions a {
  display: block;
  color: var(--color-links-700);
  border-radius: 6px;
  padding: 0.4rem;
  transition: background-color, transform 0.5s ease-out;
}

.actions a:hover {
  color: goldenrod;
  transform: translate(1rem, 0);
}

/* 1400px breakpoint for some styling issues */
@media (max-width: 90rem) {
  main li img {
    width: 12rem;
  }

  li:nth-of-type(3) {
    grid-column: auto;
  }

  li:nth-of-type(6) {
    grid-column: auto;
  }

  li:nth-of-type(9) {
    grid-column: auto;
  }
}

/* Portrait mode (768px) */
@media (max-width: 48rem) {
  main ul {
    width: 95%;
    flex-direction: column;
  }

  main li img {
    width: 8rem;
  }

  li img:hover {
    transform: none;
  }

  .item-content {
    padding: 0.5rem 0 0.5rem 0.5rem;
  }

  .actions a {
    padding: 0.2rem;
  }

  .actions a:hover{
    transform: translate(0.2rem, 0) ;
}
}

/* smaller portrait modes for styling issues */
@media (max-width: 32rem) {
  main ul {
    grid-template-columns: none;
  }

  .item-content {
    font-size: 0.9rem;
  }

  .actions {
    text-align: center;
  }

  .actions a:hover {
    transform: translate(4rem, 0);
  }
}

@media (max-width: 21rem) {
  .actions a:hover {
    transform: translate(1.5rem, 0);
  }
}
