body {
  background: linear-gradient(30deg, #272424f1, #201f1ff1);
  color: rgba(68, 68, 68, 0.945);
}

header {
  position: static;
}

main ul {
  width: 75%;
  margin: 0 auto 3rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 20px;
}

li:nth-of-type(3) {
  grid-column: 1 / span 2;
}

li:nth-of-type(6) {
  grid-column: 1 / span 2;
}

li:nth-of-type(9) {
  grid-column: 1 / span 2;
}

main li {
  display: flex;
  background-color: white;
  border-radius: 6px;
  overflow: hidden;
}

main li img {
  width: 18.75rem;
  height: 17.5rem;
  object-fit: cover;
}

.item-content {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  justify-content: space-between;
  flex: auto;
}

.actions {
  text-align: right;
}

.actions a {
    color: var(--color-links-900);
    border-radius: 6px;
    padding: 0.4rem;
}

.actions a:hover{
    background-color: #e9e5e5f1;
    color: goldenrod;
}
