html{
    --color-links-900: rgb(255, 215, 0);
    --font-main: 'Quicksand', sans-serif;
}

body{
    font-family: var(--font-main);
    margin: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.9rem 3.75rem;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    top: 0;
    left: 0;
}

a {
    text-decoration: none;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

#page-logo a {
    font-family: 'Pacifico', sans-serif;
    padding: 0.6rem ;
    font-size: 3.1rem;
    /* text-decoration: none; */
    color: var(--color-links-900);
    text-transform: uppercase;
    text-shadow: 1px 1px 6px black;
}

header nav a {
    color: var(--color-links-900);
    font-size: 1.3rem;
    padding: 0.8rem;
    text-shadow: 1px 1px 6px black;
}

header li a:hover{
    background-color: gold;
    color: black;
    padding: 0.8rem;
    border-radius: 5px;
    text-shadow: none;
}

nav ul{
    display: flex;
}

footer{
    background: linear-gradient(45deg, goldenrod, rgb(255, 196, 0));
}

footer ul{
    display: flex;
    justify-content: center;
    padding: 0.6rem;
}

footer li {
    width: 5%;
    margin: 1.3rem;
}

footer img{
    width: 100%;
}
